/ES/target/
*.class
htmlReport/css/coverage.css
htmlReport/css/idea.min.css
htmlReport/default/Aula.html
htmlReport/default/Aula.java.html
htmlReport/default/FileManager$1.html
htmlReport/default/FileManager.html
htmlReport/default/FileManager.java.html
htmlReport/default/FileManagerTest.html
htmlReport/default/FileManagerTest.java.html
htmlReport/default/Horario.html
htmlReport/default/Horario$1.html
htmlReport/default/HorarioTest.html
htmlReport/default/index.html
htmlReport/default/HorarioTest.java.html
htmlReport/default/index.source.html
htmlReport/default/Sala.html
htmlReport/default/Horario.java.html
htmlReport/default/Turno.html
htmlReport/default/Sala.java.html
htmlReport/img/arrowDown.gif
htmlReport/default/Turno.java.html
htmlReport/img/arrowUp.gif
htmlReport/index.html
htmlReport/index_SORT_BY_BLOCK_DESC.html
htmlReport/index_SORT_BY_LINE.html
htmlReport/index_SORT_BY_LINE_DESC.html
htmlReport/index_SORT_BY_METHOD.html
htmlReport/index_SORT_BY_METHOD_DESC.html
htmlReport/index_SORT_BY_NAME_DESC.html
htmlReport/jacoco-resources/branchfc.gif
htmlReport/jacoco-resources/branchnc.gif
htmlReport/jacoco-resources/branchpc.gif
htmlReport/jacoco-resources/bundle.gif
htmlReport/jacoco-resources/bundle.gif
htmlReport/jacoco-resources/class.gif
*.gif
*.html
*.js
htmlReport/jacoco-resources/report.css
htmlReport/jacoco-resources/prettify.css
